<%= form_with(model: @menu, local: true) do |f| %>
<%= render partial: 'shared/error_messages', locals: { object: @menu } %>
  <div class="row center">
    <div class="col-12 col-md-5 m-3">
      <%= f.file_field :image, id: :menu_img%>
      <div class="m-3">
        <% if @menu.image.present? %>
          <%= image_tag @menu.image.url, width: "100%", class: "image-border", id: :menu_img_prev %>
        <% else %>
          <%= image_tag "/no_image2.png", width: "100%", class: "image-border", id: :menu_img_prev %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-5 mt-3">
      <div class="form-group">
        <%= f.label :image_number %>
        <%= f.number_field :image_number, min: 0, placeholder: "※ 任意で画像の番号を選択できます", class: "form-control" %>
      </div>
      <div class="my-5">
        <div><%= f.label :image_flag %></div>
        <div><%= f.select :image_flag, [['表示', 0], ['非表示', 1]], {}, class: "form-control" %></div>
      </div>
    </div>
  </div>
  <table class="table">
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :category %></div>
          <%= f.text_field :category, placeholder: "※ 記述例：Foot Care ~フットケア~", class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :category_number %></div>
          <%= f.number_field :category_number, min: 0, class: "form-control" %>
          <div class="left font-gray m-1">※ 下記大カテゴリー名に合う番号を選択してください。</div>
          <div class="left font-gray m-1">※ 1：Foot Care ~フットケア~</div>
          <div class="left font-gray m-1">※ 2：Body Care  ~ボディケア~</div>
          <div class="left font-gray m-1">※ 3：Topping  ~トッピング~</div>
          <div class="left font-gray m-1">※ 4：Hand Care  ~ハンドケア~</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :category_order %></div>
          <%= f.number_field :category_order, min: 0, placeholder: "※ お客様用施術メニューページの大カテゴリーの並び替えができます", class: "form-control" %>
          <div class="left font-gray m-1">※ お客様用施術メニューページの大カテゴリーの並び替えができます。</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :category_title %></div>
          <%= f.text_field :category_title, placeholder: "※ 記述例：初回", class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :category_title_number %></div>
          <%= f.number_field :category_title_number, min: 0, class: "form-control" %>
          <div class="left font-gray m-1">※ 下記小カテゴリー名に合う番号を選択してください。</div>
          <div class="left font-gray m-1">※ 初回：１、 通常：２、 スペシャル：３、 巻き爪補正：４、全身：５、 足ツボ：６、 DM：７、 巻き爪補正（貼り替え）：8</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :category_title_order %></div>
          <%= f.number_field :category_title_order, min: 0, placeholder: "※ お客様用施術メニューページの小カテゴリーの並び替えができます", class: "form-control" %>
          <div class="left font-gray m-1">※ お客様用施術メニューページの小カテゴリーの並び替えができます。</div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :title %></div>
          <%= f.text_field :title, placeholder: "※ お客様用施術メニューページに表示する施術メニュー名です", class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :full_title %></div>
          <%= f.text_field :full_title, placeholder: "※ 予約ページで表示する施術メニュー名です", class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :charge %></div>
          
          <div class="display-flex align-items-center">
            <%= f.number_field :charge, min: 0, class: "form-control" %><span>円</span>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :treatment_time %></div>
          <%= f.number_field :treatment_time, min: 0, class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div class="required"><%= f.label :course_number %></div>
          <%= f.number_field :course_number, min: 0, placeholder: "※ 他のコース番号と被らない番号を選択してください", class: "form-control" %>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div><%= f.label :menu_flag %></div>
          <div><%= f.select :menu_flag, [['表示', 0], ['非表示', 1]], {}, class: "form-control" %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <div><%= f.label :reserve_flag %></div>
          <div><%= f.select :reserve_flag, [['表示', 0], ['非表示', 1]], {}, class: "form-control" %></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="form-group">
          <%= f.label :add_nail_count %>
          <%= f.number_field :add_nail_count, min: 0, placeholder: "※ 巻き爪取り付け本数の変更ができます", class: "form-control" %>
          <div class="left font-gray m-1">※ 巻き爪取り付け本数の変更ができます。</div>
        </div>
      </td>
    </tr>

  </table>
  <div class="form-group">
    <%= f.submit yield(:button_text), class: "btn btn-md btn-primary" %>
    <%= link_to 'キャンセル', menus_path, class: "link-gray" %>
  </div>
<% end %>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#menu_img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#menu_img").change(function(){
        readURL(this);
    });
  });
</script>
