<div class="page-info">
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞
  <%= link_to '施術メニュー管理画面', menus_path, class: "link-gray" %> ＞ 施術メニュー詳細
</div>
<table class="table table-striped">
  <tbody>
    <tr>
      <div class="store-card-container">
        <div class="store-card-item">
          <% if @menu.image? %>
            <%= link_to image_tag(@menu.image.url, width: '100%', class: "image-border border-radius-menu"), menu_path(@menu) %>
          <% else %>
            <%= link_to image_tag("/no_image2.png", width: '100%', class: "image-border border-radius-menu"), menu_path(@menu) %>
          <% end %>
        </div>
      </div>
    </tr>
    <tr class="center">
      <th>カテゴリー</th>
    </tr>
    <tr class="center">
      <td><%= @menu.category %></td>
    </tr>
    <tr class="center">
      <th>カテゴリー番号</th>
    </tr>
    <tr class="center">
      <td><%= @menu.category_number %></td>
    </tr>
    <tr class="center">
      <th>カテゴリー順番</th>
    </tr>
    <tr class="center">
      <td><%= @menu.category_order %></td>
    </tr>
    <tr class="center">
      <th>カテゴリータイトル</th>
    </tr>
    <tr class="center">
      <td><%= @menu.category_title %></td>
    </tr>
    <tr class="center">
      <th>カテゴリータイトル番号</th>
    </tr>
    <tr class="center">
      <td><%= @menu.category_title_number %></td>
    </tr>
    <tr class="center">
      <th>カテゴリータイトル順番</th>
    </tr>
    <tr class="center">
      <td><%= @menu.category_title_order %></td>
    </tr>
    <tr class="center">
      <th>施術メニュー</th>
    </tr>
    <tr class="center">
      <td><%= @menu.title %></td>
    </tr>
    <tr class="center">
      <th>料金</th>
    </tr>
    <tr class="center">
      <td><%= @menu.charge.to_s(:delimited) %>円</td>
    </tr>
    <tr class="center">
      <th>施術時間</th>
    </tr>
    <tr class="center">
      <td><%= @menu.treatment_time %>分</td>
    </tr>
    <tr class="center">
      <th>施術内容</th>
    </tr>
    <tr class="center">
      <td><%= @menu.description %></td>
    </tr>
    <tr class="center">
      <th>コース番号</th>
    </tr>
    <tr class="center">
      <td><%= @menu.course_number %></td>
    </tr>
    <tr class="center">
      <th>施術メニュー画像表示／非表示</th>
    </tr>
    <tr class="center">
      <% if @menu.image_flag == 0 %>
        <td>表示</td>
      <% else %>
        <td>非表示</td>
      <% end %>
    </tr>
    <tr class="center">
      <th>施術メニュー表示／非表示</th>
    </tr>
    <tr class="center">
      <% if @menu.menu_flag == 0 %>
        <td>表示</td>
      <% else %>
        <td>非表示</td>
      <% end %>
    </tr>
    <tr class="center">
      <th>予約メニュー表示／非表示</th>
    </tr>
    <tr class="center">
      <% if @menu.reserve_flag == 0 %>
        <td>表示</td>
      <% else %>
        <td>非表示</td>
      <% end %>
    </tr>
    <tr class="center">
      <th>巻き爪補正枚数</th>
    </tr>
    <tr class="center">
      <td><%= @menu.add_nail_count %></td>
    </tr>
    <tr class="center">
      <th>編集／削除</th>
    </tr>
    <tr class="center">
      <td>
        <%= link_to '編集', edit_menu_path(@menu), class: 'btn btn-sm btn-primary' %>
        <%= link_to '削除', menu_path(@menu), method: :delete, data: { confirm: "#{@menu.title}を削除してもよろしいでしょうか?" }, class: "btn btn-sm btn-danger" %>
      </td>
    </tr>
    </tr>
  </tbody>
</table>
