<%= form_with(model: @top, local: true) do |f| %>
  <table class="table">
    <tr>
      <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-3">
          <%= f.label :image %><br>
          <%= f.file_field :image, id: :top_img%>
          <% if @top.image.present? %>
            <%= image_tag @top.image.url, width: "100%", class: "image-border", id: :top_img_prev %>
          <% else %>
            <%= image_tag "/no_image2.png", width: "100%", class: "image-border", id: :top_img_prev %>
          <% end %>
        </div>
      </div>
    </tr>
    <tr>
      <td><%= f.label :reserve_title %></td>
      <td><%= f.text_field :reserve_title, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :reserve_text %></td>
      <td><%= f.text_field :reserve_text, class: "form-control" %></td>
    </tr>
    <tr>
    <td><%= f.label :reserve_text_caution %></td>
    <td><%= f.text_field :reserve_text_caution, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :reserve_text2 %></td>
      <td><%= f.text_field :reserve_text2, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :reserve_text2_caution %></td>
      <td><%= f.text_field :reserve_text2_caution, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :reserve_comfirm_title %></td>
      <td><%= f.text_field :reserve_comfirm_title, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :reserve_comfirm_text %></td>
      <td><%= f.text_area :reserve_comfirm_text, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :calendar_title %></td>
      <td><%= f.text_field :calendar_title, class: "form-control" %></td>
    </tr>
    <tr>
    <td><%= f.label :introduction_title %></td>
    <td><%= f.text_field :introduction_title, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction_text %></td>
      <td><%= f.text_area :introduction_text, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction_address %></td>
      <td><%= f.text_field :introduction_address, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction_time %></td>
      <td><%= f.text_field :introduction_time, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction_holiday %></td>
      <td><%= f.text_field :introduction_holiday, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction_tel %></td>
      <td><%= f.text_field :introduction_tel, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :image_order %></td>
      <td><%= f.number_field :image_order, min: 0, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :slide_image_count %></td>
      <td><%= f.number_field :slide_image_count, min: 0, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction_image_count %></td>
      <td><%= f.number_field :introduction_image_count, min: 0, class: "form-control" %></td>
    </tr>
    <tr class="slide-number">
      <td class="required"><%= f.label :slide_number %></td>
      <td><%= f.number_field :slide_number, min: 0, placeholder: "※ 他の画像番号と被らない番号を選択してください", class: "form-control" %></td>
    </tr>
    <tr class="image-text">
      <td class="required"><%= f.label :image_text %></td>
      <td><%= f.text_field :image_text, placeholder: "※ 画像の説明文", class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :main_slide_flag %></td>
      <td><%= f.select :main_slide_flag, [['非表示', 0], ['表示', 1]], {}, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :reserve_image_flag %></td>
      <td><%= f.select :reserve_image_flag, [['非表示', 0], ['表示', 1]], {}, class: "form-control" %></td>
    </tr>
    <tr>
      <td><%= f.label :introduction_image_flag %></td>
      <td><%= f.select :introduction_image_flag, [['非表示', 0], ['表示', 1]], {}, class: "form-control" %></td>
    </tr>
  </table>
  <%= f.submit "登録", class: "btn btn-sm btn-outline-dark" %>
  <%= link_to 'キャンセル', tops_path, class: "link-gray" %>
<% end %>

<script type="text/javascript">
  $(function() {
    function readURL(input) {
        if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
    $('#top_img_prev').attr('src', e.target.result);
        }
        reader.readAsDataURL(input.files[0]);
        }
    }
    $("#top_img").change(function(){
        readURL(this);
    });
  });
</script>
