<% now = Time.zone.now %>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">
        <i class="far fa-calendar-alt"></i>
        施術予約
      </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body reservation-form">
      <%= form_with(model: @reservation, url: reservations_path, method: :post) do |f| %>
        <h5 class="pl-2 mt-3 mb-3 required">ご予約日時</h5>
        <div class="card display-block bg-light p-3">
          <h5 class="pl-2">日付</h5>
          <!-- 初期値は当日の現在時刻から２時間後 -->
          <!-- 時間の選択は10分単位 -->
          <%= f.datetime_select :start_time,
                                {
                                use_month_numbers: true,
                                datetime_separator: '日
                                                      <h5 class="pl-2 mt-3">
                                                        開始時間
                                                      </h5>
                                                      <font size="2rem" color="red">
                                                        <div class="pl-2">※現在より２時間後からご予約が可能です。</div>
                                                      </font>',
                                minute_step: 10,
                                start_year: now.year,
                                end_year: now.next_year.year
                                },
                                class: "form-control datetime-select-form"
          %>
        </div>

        <h5 class="pl-2 mt-3 mb-1 required">
          <%= f.label :course, class: "col-form-label" %>
        </h5>

        <div class="card bg-light p-3">
          <h5 class="py-2 font-deep-gray right">※表示価格はすべて税込みです。</h5>
          <% unless @first_time_guests.present? %>
            <div>
              <h5 class="py-2 category">
                <span class="pl-1"><%= image_tag("/wakaba.png", height: '15px') %></span>
                <span class="px-1">初回</span>
              </h5>
              <div class="py-2 reserve-white-bg">
                <div class="toggle-btn cursor-pointer right my-2 px-3">
                  <i class="fas fa-chevron-down open"></i>
                </div>
                <div class="menu-toggle mx-2">
                  <% @first_menu.each do |menu| %>
                    <div class="menu-btn display-block btn btn-info m-2">
                      <%= menu.full_title %>
                    </div>
                    <div class="m-2">
                      <div class="px-1 description font-gray">
                        <%= menu.description %>
                      </div>
                      <div class="right course-charge font-deep-gray pt-4 px-2">
                        <span class="font-deep-gray font-large">￥<%= menu.charge.to_s(:delimited) %></span>
                        <span class="font-gray font-small">税込</span>
                      </div>
                      <div class="display-none course-id">
                        <%= menu.id %>
                      </div>
                    </div>
                    <br />
                  <% end %>
                </div>
              </div>
            </div>

            <hr>

          <% end %>
          
          <% if @guests_within_two_weeks.present? %>
            <div>
              <h5 class="py-2 category">
                <span class="px-1">ネイル貼り替え</span>
              </h5>
              <div class="py-2 reserve-white-bg">
                <div class="toggle-btn cursor-pointer right my-2 px-3">
                  <i class="fas fa-chevron-down open"></i>
                </div>
                <div class="menu-toggle mx-2">
                  <% @change_nail_menu.each do |menu| %>
                    <div class="menu-btn change-nail-btn display-block btn btn-info m-2">
                      <%= menu.full_title %>
                    </div>
                    <div class="m-2">
                      <div class="px-1 description font-gray">
                        <%= menu.description %>
                      </div>
                      <div class="right course-charge font-deep-gray pt-4 px-2">
                        <span class="font-deep-gray font-large">￥<%= menu.charge.to_s(:delimited) %></span>
                        <span class="font-gray font-small">税込</span>
                      </div>
                      <div class="display-none course-id">
                        <%= menu.id %>
                      </div>
                    </div>
                    <br />
                  <% end %>
                </div>
              </div>
            </div>

            <hr>

            <div>
              <h5 class="py-2 category">
                <span class="px-1">フットケア／ネイルケア</span>
                <span class="pl-2 font-gray">※スペシャルメニュー</span>
              </h5>
              <div class="py-2 reserve-white-bg">
                <div class="toggle-btn cursor-pointer right my-2 px-3">
                  <i class="fas fa-chevron-down open"></i>
                </div>
                <div class="menu-toggle mx-2">
                  <% @special_menu.each do |menu| %>
                    <div class="menu-btn display-block btn btn-info m-2">
                      <%= menu.full_title %>
                    </div>
                    <div class="m-2">
                      <div class="px-1 description font-gray">
                        <%= menu.description %>
                      </div>
                      <div class="course-charge display-none">
                        <%= menu.charge %>
                      </div>
                      <div class="right pt-4 px-2">
                        <span class="font-gray font-small pl-2">通常価格</span>
                        <span class="font-gray text-decoration-line-through">￥<%= menu.original_charge.to_s(:delimited) %></span>
                        <span class="font-deep-gray px-1">→</span>
                        <span class="font-red font-large">￥<%= menu.charge.to_s(:delimited) %></span>
                        <span class="font-gray font-small">税込</span>
                      </div>
                      <div class="display-none course-id">
                        <%= menu.id %>
                      </div>
                    </div>
                    <br />
                  <% end %>
                </div>
              </div>
            </div>
          <% elsif !@guests_within_two_weeks.present? %>
            <div>
              <h5 class="py-2 category">
                <span class="px-1">フットケア／ネイルケア</span>
              </h5>
              <div class="py-2 reserve-white-bg">
                <div class="toggle-btn cursor-pointer right my-2 px-3">
                  <i class="fas fa-chevron-down open"></i>
                </div>
                <div class="menu-toggle mx-2">
                  <% @foot_menu.each do |menu| %>
                    <div class="menu-btn display-block btn btn-info m-2">
                      <%= menu.full_title %>
                    </div>
                    <div class="m-2">
                      <div class="px-1 description font-gray">
                        <%= menu.description %>
                      </div>
                      <div class="right course-charge font-deep-gray pt-4 px-2">
                        <span class="font-deep-gray font-large">￥<%= menu.charge.to_s(:delimited) %></span>
                        <span class="font-gray font-small">税込</span>
                      </div>
                      <div class="display-none course-id">
                        <%= menu.id %>
                      </div>
                    </div>
                    <br />
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
          <% end %>

          <hr>

          <div>
            <h5 class="py-2 category">
              <span class="px-1">ボディケア</span>
            </h5>
            <div class="py-2 reserve-white-bg">
              <div class="toggle-btn cursor-pointer right my-2 px-3">
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="menu-toggle mx-2 display-none">
                <% @body_menu.each do |menu| %>
                  <div class="menu-btn display-block btn btn-info m-2">
                    <%= menu.full_title %>
                  </div>
                  <div class="m-2">
                    <div class="px-1 description font-gray">
                      <%= menu.description %>
                    </div>
                    <div class="right course-charge font-deep-gray pt-4 px-2">
                      <span class="font-deep-gray font-large">￥<%= menu.charge.to_s(:delimited) %></span>
                      <span class="font-gray font-small">税込</span>
                    </div>
                    <div class="display-none course-id">
                      <%= menu.id %>
                    </div>
                  </div>
                  <br />
                <% end %>
              </div>
            </div>
          </div>


          <% if @add_menu.present? %>
            <% @add_menu.each do |menu| %>
              <hr>

              <div>
                <h5 class="py-2 category">
                  <span class="px-1"><%= menu.category%></span>
                </h5>
                <div class="py-2 reserve-white-bg">
                  <div class="toggle-btn cursor-pointer right my-2 px-3">
                    <i class="fas fa-chevron-down"></i>
                  </div>
                  <div class="menu-toggle mx-2 display-none">
                      <div class="menu-btn display-block btn btn-info m-2">
                        <%= menu.full_title %>
                      </div>
                      <div class="m-2">
                        <div class="px-1 description font-gray">
                          <%= menu.description %>
                        </div>
                        <div class="right course-charge font-deep-gray pt-4 px-2">
                          <span class="font-deep-gray font-large">￥<%= menu.charge.to_s(:delimited) %></span>
                          <span class="font-gray font-small">税込</span>
                        </div>
                        <div class="display-none course-id">
                          <%= menu.id %>
                        </div>
                      </div>
                      <br />
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>

          <hr>

          <div>
            <h5 class="py-2 category">
              <span class="px-1">DM</span>
              <span class="pl-2 font-gray">※DMをお持ちの方</span>
            </h5>
            <div class="py-2 reserve-white-bg">
              <div class="toggle-btn cursor-pointer right my-2 px-3">
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="menu-toggle mx-2 display-none">
                <% @DM_menu.each do |menu| %>
                  <div class="menu-btn display-block btn btn-info m-2">
                    <%= menu.full_title %>
                  </div>
                  <div class="m-2">
                    <div class="px-1 description font-gray">
                      <%= menu.description %>
                    </div>
                    <div class="course-charge display-none">
                      <%= menu.charge %>
                    </div>
                    <div class="right pt-4 px-2">
                        <span class="font-gray font-small pl-2">通常価格</span>
                        <span class="font-gray text-decoration-line-through">￥<%= menu.original_charge.to_s(:delimited) %></span>
                        <span class="font-deep-gray px-1">→</span>
                        <span class="font-red font-large">￥<%= menu.charge.to_s(:delimited) %></span>
                        <span class="font-gray font-small">税込</span>
                      </div>
                    <div class="display-none course-id">
                      <%= menu.id %>
                    </div>
                  </div>
                  <br />
                <% end %>
              </div>
            </div>
          </div>

        </div>

        <div class="card bg-light p-3">
          <div>
            <h5 class="py-2 category">
              <span class="px-1">巻き爪補正</span>
              <span class="pl-2 font-gray">※ネイル取り付けをご希望の方</span>
            </h5>
            <div class="py-2 reserve-white-bg">
              <div class="toggle-btn cursor-pointer right my-2 px-3">
                <i class="fas fa-chevron-down open"></i>
              </div>
              <div class="menu-toggle mx-2">
                <% @add_nail_menu.each do |menu| %>
                  <div class="add-nail-menu-btn display-block btn btn-info m-2">
                    <%= menu.full_title %>
                  </div>
                  <div class="m-2">
                    <div class="px-1 description font-gray">
                      <%= menu.description %>
                    </div>
                    <div class="right add-nail-charge font-deep-gray pt-4 px-2">
                      <span class="font-deep-gray font-large">￥<%= menu.charge.to_s(:delimited) %></span>
                      <span class="font-gray font-small">税込</span>
                    </div>
                    <div class="display-none add-nail-id">
                      <%= menu.id %>
                    </div>
                  </div>
                  <br />
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="card bg-light p-3">
          <div class="topping">
            <h5 class="py-2 category">
              <span class="px-1">トッピング</span>
            </h5>
            <div class="py-2 reserve-white-bg">
              <div class="toggle-btn cursor-pointer right my-2 px-3">
                <i class="fas fa-chevron-down"></i>
              </div>
              <div class="menu-toggle mx-2">
                <% @topping_menu.each do |menu| %>
                  <div class="topping-menu-btn display-block btn btn-info m-2">
                    <%= menu.full_title %>
                  </div>
                  <div class="m-2">
                    <div class="px-1 description font-gray">
                      <%= menu.description %>
                    </div>
                    <div class="right topping-charge font-deep-gray pt-4 px-2">
                      <span class="font-deep-gray font-large">￥<%= menu.charge.to_s(:delimited) %></span>
                      <span class="font-gray font-small">税込</span>
                    </div>
                    <div class="display-none topping-id">
                      <%= menu.id %>
                    </div>
                  </div>
                  <br />
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <div class="all-open-btn btn btn-secondary display-block mb-4">全メニュー表示／非表示</div>
      
        <div class="card bg-light p-3">
          <%= f.label :comment, class: "col-form-label" %>
          <%= f.text_area :comment, class: "form-control" %>
        </div>

        <div class="mt-3 p-3 fixed-reserve-text-bg">
          <button type="button" class="close fixed-text-close-btn">
            <span>&times;</span>
          </button>
          <div class="font-bold font-deep-gray mb-2">選択されたメニュー</div>
          <div class="reserve-course-text reserve-white-bg py-1 px-2 mt-1"></div>
          <div class="reserve-add-nail-text reserve-white-bg py-1 px-2 mt-1"></div>
          <div class="reserve-topping-text reserve-white-bg py-1 px-2 mt-1"></div>
        </div>

        <div class="my-4 p-3 font-deep-gray reserve-text-bg">
          <div class="font-bold font-deep-gray mb-2">選択されたメニュー</div>
          <hr class="my-2">
          <div class="font-bold font-deep-gray required course-title py-1 px-2 mt-1">施術コース</div>
          <div class="reserve-course-text reserve-white-bg p-2 mt-1 mb-3"></div>
          <div class="display-none right course-charge-text"></div>
          <div class="font-bold font-deep-gray add-nail-title pt-1 px-2 mt-1">巻き爪補正</div>
          <div class="reserve-add-nail-text reserve-white-bg p-2 mt-1 mb-3"></div>
          <div class="display-none right add-nail-charge-text"></div>
          <div class="font-bold font-deep-gray topping-title pt-1 px-2 mt-1">トッピング</div>
          <div class="reserve-topping-text reserve-white-bg p-2 mt-1 mb-3"></div>
          <div class="display-none right topping-charge-text"></div>
          <hr>
          <div class="right font-bold font-deep-gray mb-2">
            合計 : <span class="full-charge font-bold font-deep-gray"></span>
          </div>
          <h5 class="py-2 font-deep-gray right">※表示価格はすべて税込みです。</h5>
        </div>

        <div class="error-wrap">
          <div class="mt-4" id="error"></div>
        </div>

        <%= f.hidden_field :course, {value: "", id: "hidden-course"} %>
        <%= f.hidden_field :add_nail_number_menu, {value: "", id: "hidden-add-nail"} %>
        <%= f.hidden_field :topping_number_menu, {value: "", id: "hidden-topping"} %>

        <%= f.hidden_field :guest_id, :value => current_user.id %>
        <%= f.hidden_field :staff_id, :value => "1" %>
        <%= f.hidden_field :reservation_time, :value => now %>

        <div class="center my-4">
          <div class="submit-coution font-gray p-3">※施術コースを選択してください。</div>
          <%= f.submit "申込み", class: "btn btn-primary", id: "submit" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">
            キャンセル
          </button>
        </div>

      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {

    // 初期状態定義
      // 送信ボタンを非活性化
      $('#submit').prop('disabled',true);

      // 動的にopenクラスを付与する為の変数を定義
      let open   = 'open';

      // 初期状態では固定テキストエリアは隠しておく
      $('.fixed-reserve-text-bg').hide();
    // -----------

    // 各メニュータイトルの矢印をクリックするとそのメニューが表示される
      $('.toggle-btn').on('click', function() {
        let $arrow = $(this).children();
        if ( ! $arrow.hasClass( open ) ) {
          $arrow.addClass( open );
        } else {
          $arrow.removeClass( open );
        }
        let $menu_toggle = $(this).next();
        $menu_toggle.slideToggle("slow");
      });
    // -----------------------------------------

    // 施術コースをクリックすると選んだコース名が施術コーステキスト欄に表示される
      $('.menu-btn').on('click', function() {
        let menu_text = $(this).text();
        let course_charge = $(this).next().children('.course-charge').text();
        let course_id = $(this).next().children('.course-id').text();
        if ( $(this).hasClass( open ) ) {
          $(this).removeClass( open );
          $('.reserve-course-text').text("");
          $('#hidden-course').val("");
          $('.full-charge').text(null);
          $('#submit').prop('disabled',true);
          $('.submit-coution').show();
          $('.course-charge-text').text("");
          let add_nail_charge_text = $('.add-nail-charge-text').text();
          let topping_charge_text = $('.topping-charge-text').text();
          let course_charge_text = $('.course-charge-text').text();
          let full_charge = ( (parseInt(topping_charge_text) || 0) + (parseInt(add_nail_charge_text) || 0)  + (parseInt(course_charge_text) || 0) );
          $('.full-charge').text(full_charge.toLocaleString() + "円");
        } else {
          $('.menu-btn').removeClass( open );
          $(this).addClass( open );
          $('.reserve-course-text').text(menu_text);
          $('.reserve-course-text, .course-title').show();  
          $('.submit-coution').hide();
          $('#hidden-course').val(course_id.replace(/[^0-9]/g, ''));                 // hidden_fieldのvalueに施術コースIDを代入
          $('#submit').prop('disabled',false);                // 送信ボタンを有効にする
          $('.course-charge-text').text(course_charge.replace(/[^0-9]/g, ''));
          let add_nail_charge_text = $('.add-nail-charge-text').text();
          let topping_charge_text = $('.topping-charge-text').text();
          let course_charge_text = $('.course-charge-text').text();
          let full_charge = ( (parseInt(topping_charge_text) || 0) + (parseInt(add_nail_charge_text) || 0)  + (parseInt(course_charge_text) || 0) );
          $('.full-charge').text(full_charge.toLocaleString() + "円");
        }
        $('.reserve-text-bg').show();
        $('.fixed-reserve-text-bg').show();
      });
    // -----------------------------------------
    // 巻き爪補正メニューをクリックすると選んだメニュー名が巻き爪補正テキスト欄に表示される
      $('.add-nail-menu-btn').on('click', function() {
        let menu_text = $(this).text();
        let add_nail_charge = $(this).next().children('.add-nail-charge').text();
        let course_id = $(this).next().children('.add-nail-id').text();
        if ( $(this).hasClass( open ) ) {
          $(this).removeClass( open );
          $('.reserve-add-nail-text').text("");
          $('#hidden-add-nail').val("");
          $('.full-charge').text(null);
          $('.add-nail-charge-text').text("");
          let add_nail_charge_text = $('.add-nail-charge-text').text();
          let topping_charge_text = $('.topping-charge-text').text();
          let course_charge_text = $('.course-charge-text').text();
          let full_charge = ( (parseInt(topping_charge_text) || 0) + (parseInt(add_nail_charge_text) || 0)  + (parseInt(course_charge_text) || 0) );
          $('.full-charge').text(full_charge.toLocaleString() + "円");
        } else {
          $('.add-nail-menu-btn').removeClass( open );
          $(this).addClass( open );
          $('.reserve-add-nail-text').text(menu_text);
          $('.reserve-add-nail-text, .add-nail-title').show();
          $('#hidden-add-nail').val(course_id.replace(/[^0-9]/g, ''));
          $('.add-nail-charge-text').text(add_nail_charge.replace(/[^0-9]/g, ''));
          let topping_charge_text = $('.topping-charge-text').text();
          let course_charge_text = $('.course-charge-text').text();
          let add_nail_charge_text = $('.add-nail-charge-text').text();
          let full_charge = ( (parseInt(topping_charge_text) || 0) + (parseInt(add_nail_charge_text) || 0)  + (parseInt(course_charge_text) || 0) );
          $('.full-charge').text(full_charge.toLocaleString() + "円");
        }
        $('.reserve-text-bg').show();
        $('.fixed-reserve-text-bg').show();
      });
    // -----------------------------------------
    // 追加オプションメニューをクリックすると選んだメニュー名が追加オプションテキスト欄に表示される
      $('.topping-menu-btn').on('click', function() {
        let menu_text = $(this).text();
        let topping_charge = $(this).next().children('.topping-charge').text();
        let course_id = $(this).next().children('.topping-id').text();
        if ( $(this).hasClass( open ) ) {
          $(this).removeClass( open );
          $('.reserve-topping-text').text("");
          $('#hidden-topping').val("");
          $('.full-charge').text(null);
          $('.topping-charge-text').text("");
          let add_nail_charge_text = $('.add-nail-charge-text').text();
          let topping_charge_text = $('.topping-charge-text').text();
          let course_charge_text = $('.course-charge-text').text();
          let full_charge = ( (parseInt(topping_charge_text) || 0) + (parseInt(add_nail_charge_text) || 0)  + (parseInt(course_charge_text) || 0) );
          $('.full-charge').text(full_charge.toLocaleString() + "円");
        } else {
          $('.topping-menu-btn').removeClass( open );
          $(this).addClass( open );
          $('.reserve-topping-text').text(menu_text);
          $('.reserve-topping-text, .topping-title').show();
          $('#hidden-topping').val(course_id.replace(/[^0-9]/g, ''));
          $('.topping-charge-text').text(topping_charge.replace(/[^0-9]/g, ''));
          let topping_charge_text = $('.topping-charge-text').text();
          let course_charge_text = $('.course-charge-text').text();
          let add_nail_charge_text = $('.add-nail-charge-text').text();
          let full_charge = ( (parseInt(topping_charge_text) || 0) + (parseInt(add_nail_charge_text) || 0)  + (parseInt(course_charge_text) || 0) );
          $('.full-charge').text(full_charge.toLocaleString() + "円");
        }
        $('.reserve-text-bg').show();
        $('.fixed-reserve-text-bg').show();
      });
    // -----------------------------------------

    // 全メニュー表示／非表示ボタンを押した時の制御
      $('.all-open-btn').on('click', function() {
        let $menu_toggle = $('.menu-toggle');
        let $arrow= $('.fa-chevron-down');
        if ( ! $arrow.hasClass( open ) ) {
          $arrow.addClass( open );
        } else {
          $arrow.removeClass( open );
        }
        if ( ! $menu_toggle.hasClass( open ) ) {
          $menu_toggle.addClass( open );
          $menu_toggle.show("slow");
        } else {
          $menu_toggle.removeClass( open );
          $menu_toggle.hide("slow");
        }
      });
    // -----------------------------------------

    // 固定テキストエリアの✖️ボタンを押すと固定テキストエリアを閉じる
      $('.fixed-text-close-btn').on('click', function() {
        $('.fixed-reserve-text-bg').hide();
      });
    // -----------------------------------------

    // 各descriptionの割引の文字を目立たせる（spanタグで囲い、cssでデザインを変更する）
      $(".description").children().addBack().contents().each(function(){
        if (this.nodeType == 3) {
          let str = $(this).replaceWith($(this).text().replace(/10％OFF/g, "<span>$&</span>"));
        }
      });
      $(".description").children().addBack().contents().each(function(){
        if (this.nodeType == 3) {
          let str = $(this).replaceWith($(this).text().replace(/20％OFF/g, "<span>$&</span>"));
        }
      });
      $(".description").children().addBack().contents().each(function(){
        if (this.nodeType == 3) {
          let str = $(this).replaceWith($(this).text().replace(/30％OFF/g, "<span>$&</span>"));
        }
      });
    // -----------------------------------------

    // 時間選択は11時〜19時までに制限
      var options = $('.reservation-form form select#reservation_start_time_4i option');

      for (var i = 0; i < options.length; i++) {
        if (options.eq(i).val() === "00") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "01") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "02") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "03") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "04") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "05") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "06") {
          options.eq(i).wrap("<span>")
        }
        if (options.eq(i).val() === "07") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "08") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "09") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "10") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "20") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "21") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "22") {
          options.eq(i).wrap("<span>");
        }
        if (options.eq(i).val() === "23") {
          options.eq(i).wrap("<span>");
        }
        options.eq(i).prop("selected", false);
      }
      options.eq(0).prop("selected", true);
    // ------------------------------------
  });
</script>
