<p>
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
  予約画面
</p>

<% unless user_signed_in? %>
  <font size="2rem" color="red">※WEB予約をご利用になる際はログインが必要になります。</font>
  <%= link_to 'ログインする', new_user_session_path, class: "btn btn-sm btn-outline-info" %>
  <%= link_to 'アカウントを登録する', new_user_registration_path, class: "btn btn-sm btn-outline-primary" %>
<% end %>

<% if user_signed_in? %>
  <%= link_to "ご予約はこちら", new_reservation_path, remote: true, class: "btn btn-outline-info" %>
<% end %>

<div class="calendar-wrap">
  <div id="calendar"></div>
</div>

<% if user_signed_in? %>
  <%= link_to "ご予約はこちら", new_reservation_path, remote: true, class: "reserve-show-btn" %>
  <%= link_to "ご予約はこちら", new_reservation_path, remote: true, class: "phone-reserve-show-btn", id: "phone-reservation-show-btn" %>
<% end %>

<div id="new_reservation" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<%= javascript_pack_tag 'reservations/index', 'data-turbolinks-track': 'reload' %>
