<%= link_to 'ホーム', root_url, class: "link-gray" %>
＞
<%= link_to '商品一覧', items_path, class: "link-gray" %>

<div class="container">
  <div class="center">
    <%= search_form_for @q, url: search_items_path do |f| %>
      <%= f.search_field :name_cont, class: "search-container" %>
      <%= f.submit '商品検索', class: "btn btn-sm btn-outline-dark" %>
    <% end %>
  </div>
  <div class="right">
    <%= link_to "新規商品登録", new_item_path, class: "btn btn-sm btn-outline-dark" %>
  </div>
  <p></p>
  <div class="item-index-container">
    <% @results.each do |item| %>
      <div class="item-index-body">
        <% if item.image? %>
          <%= link_to image_tag(item.image.url, width: '100%', class: "image-border border-radius-top"), item_path(item) %>
        <% else %>
          <%= link_to image_tag("/no_image2.png", width: '100%', class: "image-border border-radius-top"), item_path(item) %>
        <% end %>
        <p class="item-index-description">
          <ul>
            <li><%= link_to item.name, item_path(item), class: "link-black" %></li>
            <li><%= item.price %> 円 (税抜)</li>
            <li>在庫数: <%= item.stock %></li>
            <% if staff_signed_in? %>
              <li>
                <p></p>
                スタッフ専用
                <%= link_to '編集', edit_item_path(item), class: "btn btn-sm btn-outline-dark" %>
                <%= link_to '削除', item_path(item), method: :delete, data: { confirm: '削除してもよろしいでしょうか?' }, class: "btn btn-sm btn-outline-danger" %>
              </li>
            <% end %>
          </ul>
        </p>
      </div>
    <% end %>
  </div>
</div>
