<p><%= @user.name %> 様</p>
<p></p>
<p>いつもゲンキノモト。をご利用いただき誠にありがとうございます。</p>
<p>お客様の口コミに弊社スタッフが返信しましたので、お知らせいたします。</p>
<p>弊社ウェブサイトのお客様からの口コミにも返信が掲載されています。</p>
<p></p>
<p>------------------------------------</p>
<p>投稿された口コミ詳細</p>
<div>
  <ul>
    <li>口コミ番号: <%= @review.id %></li>
    <li>投稿日時: <%= l(@review.created_at, format: :custom1) %></li>
    <li>口コミニックネーム: <%= @review.nickname %></li>
    <li>口コミタイトル: <%= @review.title %></li>
    <li>口コミ内容: <%= @review.content %></li>
    <li>スタッフからの返信: <%= @review_answer.content %></li>
  </ul>
</div>
<p>------------------------------------</p>
<p></p>
<p>今後もゲンキノモト。をよろしくお願いいたします。</p>
<p></p>
<p>------------------------------------</p>
<p>ゲンキノモト。公式ウェブサイト</p>
<p>https://genkinomoto.herokuapp.com/</p>
<p>------------------------------------</p>
