<p class="mt-2">
  <%= link_to 'ホーム', root_url, class: "link-gray" %> ＞ 
  <%= link_to 'マイページ', users_account_path, class: "link-gray" %> ＞ 
  <%= link_to '口コミ一覧', reservation_reviews_path(@reservation), class: "link-gray" %> ＞ 
  口コミ編集画面
</p>
<div class="container">
  <% if @review.errors.any? %>
    <div class="alert alert-warning">
      <ul>
        <h5>入力に足りない箇所があります。再度ご入力をお願いいたします。</h5>
        <% @review.errors.full_messages.each do |message| %>
          <li class="ml-2">・<%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p class="mt-3">お店の口コミを編集</p><hr>

  <%= form_with(model:[@reservation,@review], local: true) do |f| %>
  <table class="table table-borderless reviews-table">
    <%= f.hidden_field :reservation_id, value: @reservation.id %>
    <%= f.hidden_field :total_score, id: "rating-value" %>

    <tr>
      <td>今回受けた施術</td>
      <td><%= @reservation.treatment_menu %></td>
    </tr>

    <tr>
      <td id ="reviews-item">お店全体の評価<span class="required"></span></td>
      <td>
        <div class="rating-box mt-3">        
          <div class="main-rating">
            <div class="ratings mb-3">
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
              <span class="fa fa-star-o" id="star"></span>
            </div>
            <div class="rating-value-display">&nbsp;
              <span id="rating-value-display">0</span>/5<span> 星をクリックしてから保存してください。</span>
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td rowspan="1">その他の評価<span class="required"></span></td>
      <td>
        <p>
          <span>メニュー・料金</span><%= f.select :menu_score, {'とても良かった': 5, 'まあまあ良かった': 4, '普通': 3, 'あまり良くなかった': 2, '良くなかった': 1 }, { include_blank: '選択してください' }, { class: 'form-control' } %>
        </p>
        <p>
          <span>接客・技術</span><%= f.select :customer_score, {'とても良かった': 5, 'まあまあ良かった': 4, '普通': 3, 'あまり良くなかった': 2, '良くなかった': 1 }, { include_blank: '選択してください' }, { class: 'form-control' } %>
        </p>
        <p>
          <span>雰囲気</span><%= f.select :atmosphere_score, {'とても良かった': 5, 'まあまあ良かった': 4, '普通': 3, 'あまり良くなかった': 2, '良くなかった': 1 }, { include_blank: '選択してください' }, { class: 'form-control' } %>
        </p>
      </td>
    </tr>

    <tr>
      <td><%= f.label :title %></td>
      <td><%= f.text_field :title, class: "form-control", placeholder: "50文字以内で入力してください。", required: true %></td>
    </tr>

    <tr>
      <td><%= f.label :content %></td>
      <td><%= f.text_area :content, class: "form-control", rows: 6, placeholder: "10~1000文字内で入力してください。" %></td>
    </tr>
    <tr>
      <td colspan="2" class="text-center">
        <%= f.submit "編集する", class: "btn btn-primary", 'data-turbolinks': false %>&nbsp;
        <%= link_to "削除する", reservation_review_path(@reservation,@review), method: :delete, data:{ confirm: "削除してよろしいですか？" }, class: "btn btn-danger" %>
      </td>
    </tr>
  </table>
  <% end %>

  <%= javascript_pack_tag 'review/reviews' %>
</div>